bs4 == 0.0.1
chainladder == 0.8.14
GitPython == 3.1.31
matplotlib == 3..2
numpy == 1.22.4
pandas == 1.4.3
pydata-sphinx-theme == 0.11.0
pytest == 7.1.2
pytest-cov == 4.0.0
PyQt6 == 6.4.0
sphinx_design == 0.3.0
sqlalchemy == 1.4.39