Source: faslr
Maintainer: Gene Dan <genedan@gmail.com>
Build-Depends: debhelper,dh-python,python3-all,python3-setuptools
Section: devel
Priority: optional
Standards-Version: 3.9.6
X-Python3-Version: >= 3.6

Package: faslr
Architecture: all
Description: Free Actuarial System for Loss Reserving
Depends: ${python3:Depends},python3-requests,python3-chainladder