name: Unit Tests

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    name: Test Coverage
    defaults:
      run:
        working-directory: .
    steps:
    - uses: actions/checkout@v1
    - uses: actions/setup-python@v2
      with:
        python-version: '3.10'
    - name: Install ubuntu packages
      run: sudo apt-get update && sudo apt-get install libegl1 -y
    - name: Install requirements
      run: pip install -r requirements.txt
    - name: Run tests and collect coverage
      #run: pytest
      run: pytest --cov=./ --cov-report=xml
    #- name: Upload coverage reports to Codecov with GitHub Action
    #  uses: codecov/codecov-action@v3
#    - name: Get Cover
#      uses: orgoro/coverage@v3
#      with:
#        coverageFile: path/to/coverage.xml
#        token: ${{ secrets.PYTEST_TOKEN }}